<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="nav">
      <div class="nav-links">
        <a href="/">Inicio</a>
        <a href="/portifolio">Portfólio</a>
        <a href="/contato">Contatos</a>
      </div>
    </div>
  </header>
  <main>
    <div class="nome">
      <p> Valderi Douglas Camargo Queiroz Ferreira</p>
    </div>
    <div class="apresentacao">
      <div class="minhafot">
        <img class="minhafoto" src="/static/image/96298784.png">
      </div>
      <div class="border1">
        <p>O mundo dos jogos foi sua porta de entrada para área de programação, participou de cursos públicos de
          Programação de jogos de plataforma na ferramenta Construct 2 e curso de Robótica, em seu ensino fundamental
          participou do projeto de sua escola pública EMEF Professora Maria Aparecida dos Santos Ronconi no evento
          Empreende Startups Educacionais 2018, atuando como desenvolvedor de um aplicativo móvel com a ferramenta MIT
          App Inventor, com essa base de conhecimentos da área de programação decide cursar em 2019 seu ensino médio
          integrado ao técnico na Etec Profª Ilza Nascimento Pintus, escolhendo o curso de Desenvolvimento de Sistemas,
          tendo contato com muitos conhecimentos como Design Digital, Python, HTML, CSS, SQL, C++, JAVA, JAVASCRIPT,
          REACT. Para sua conclusão de curso desenvolveu em grupo um jogo 3D educativo de exploração e aprendizagem
          sobre a fauna e flora da Amazônia, aprendendo Unity, Blender, Mixamo.</p>
      </div>
    </div>
    <div class="border2">
      <P>
        Continuando seus estudos na instituição Fatec São José dos Campos - Prof. Jessen Vidal, no curso Desenvolvimento
        de Software Multiplataforma, desenvolvendo trabalhos com método scrum no API(Aprendizagem por Projeto
        Integrador), para crescer sua base de conhecimento, está estudando novas tecnologias, como, python,JavaScript e
        inglês.
      </P>
    </div>

  </main>

</body>

</html>