<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="nav">
            <div class="nav-links">
                <a href="/">Inicio</a>
                <a href="/portifolio">Portfólio</a>
                <a href="/contato">Contatos</a>
            </div>
        </div>
    </header>
    <main>
        <div class="">
            <div class="minhafot1">
              <img class="minhafoto1" src="/static/image/96298784.png">
            </div>
        </div>
        <div>
            <div class="midi1">
            <a href="https://www.linkedin.com/in/valderidouglas/"><img class="midia1"src="/static/image/midia1.png"></a>
            <a href="https://github.com/ValderiDouglas"><img class="midia1"  src="/static/image/midia2.png"></a>
            <a href="https://www.instagram.com/valderimenor/"><img class="midia1"  src="/static/image/midia3.png"></a>
            </div>
        </div>
    </main>
</body>

</html>