<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="nav">

            <div class="nav-links">
                <a href="/">Inicio</a>
                <a href="/portifolio">Portfólio</a>
                <a href="/contato">Contatos</a>
            </div>
        </div>
    </header>
    <main>
        <div class="tcc">
            <div class="proj1fot">
                <img class="proj1foto" src="/static/image/projeto1.png">
            </div>
            <div class="border3">
                <p>
                    Bio é um jogo de exploração 3D educacional e de concientisação sobre fauna e flora, a historia se passa na Amazônia onde nossa personagem deve ajudar a comunidade em missoes ambientais, como coleta de lixo, plantações, observação de animais silvestres.
                </p>
            </div>
        </div>
        <div class="tcc">
            <div class="proj2fot">
                <img class="proj2foto" src="/static/image/projeto2.png">
            </div>
            <div class="border3">
                <p>
                    Projeto que me empenhei em produzir um anuncio para uma colega, sobre vendas de salgados fritos e
                    congelados, usando a ferramenta photoshop e elementos graficos disponiveis gratuitamente na internet
                    em plataformas e comunidades.
                </p>
            </div>
        </div>
        <div class="tcc">
            <div class="proj3fot">
                <img class="proj3foto" src="/static/image/projeto3.png">
            </div>
            <div class="border3">
                <p>
                    Para esse primeiro semestre de 2022 precisaremos produzir uma página web, ela será uma plataforma de
                    terceirização de serviços para manutenção e resolução de problemas de hardware e/ou software. Para
                    controlar as funções e informações no back-end usamos as tecnologias Python, Flask e MySQL, já para
                    fazer todo o design e estilização no front-end foi utilizado HTML, CSS e JavaScript.
                </p>
            </div>
        </div>
    </main>
</body>

</html>