<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<h1>
<div class="barra"></div>
<a href="index.html" class="paginainicial">pagina inicial</a>
<div class="Portifólio"></div>
<a href="page2.html" class="Portifólio">portifolio</a>
<div class="Contatos"></div>
<a href="page3.html" class="Contatos">contatos</a>

<div class="nome">Valderi Douglas Camargo Queiroz Ferreira</div>
<div class="foto"></div>
<div class="textofoto">Minha Foto</div>
<div class="retangulo2"></div>
<div class="vidaacademica">Vida academica e tecnologia</div>
<div class="retangulo3"></div>
<div class="metas">Projeções, Metas e Estudos</div>

</h1>
</body>
</html>