<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<h1>
    
<div class="barra"></div>
<a href="index.html" class="paginainicial">pagina inicial</a>
<div class="Portifólio"></div>
<a href="page2.html" class="Portifólio">portifolio</a>
<div class="Contatos"></div>
<a href="page3.html" class="Contatos">contatos</a>



<div class="retangulo4"></div>

<div class="retangulo5"></div>

<div class="retangulo6"></div>

<div class="retangulo7"></div>

<div class="retangulo8"></div>

<div class="retangulo9"></div>



<div class="tcc">Sobre meu TCC</div>
<div class="design"> Projeto de design</div>
<div class="api">Sobre API</div>
<div class="imagem3">Imagem Sobre API</div>
<div class="imagem2">Imagem Sobre Design</div>
<div class="imagem1">Imagem Sobre TCC</div>

</h1>
</body>
</html>