<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<h1>
<div class="barra"></div>
<a href="index.html" class="paginainicial">pagina inicial</a>
<div class="Portifólio"></div>
<a href="page2.html" class="Portifólio">portifolio</a>
<div class="Contatos"></div>
<a href="page3.html" class="Contatos">contatos</a>

<div class="foto2"></div>
<div class="textofoto2">Minha Foto</div>
<div class="retangulo11"></div>
<div class="retangulo12"></div>
<div class="retangulo13"></div>
<a class="linkedin" href="https://www.linkedin.com/in/valderidouglas/" >Icone Linkedin</a>
<a class="git" href="https://github.com/ValderiDouglas" >Icone GitHub</a>
<a class="twitter" href="https://twitter.com/criptgod" >Icone Twitter</a>


</h1>
</body>
</html>